@font-face {
    font-family: Teddy;
    src: url('../fonts/teddy-bear.ttf');
}

/* --- Красивый футер --- */
html,
body {
    height: 100%;
    background: #FFF2CF url('../images/bears/bg_bears.png') repeat;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 10pt;
    color: #877850;
}
body{
    padding-top: 90px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 20px 15px 20px;
}

.footer {
    height: 60px;
    background-color: transparent;
    padding-top: 20px;
    font-size: 1.2em;
}

/*--- Боковое всплывающее меню ---*/
.sidr-selector{
    margin-left: 5px;
}

.fa-indent,.fa-outdent{
    padding-top: 10px;
}

.sidr {
    top: 80px !important;
    height: 275px !important;
    width: 180px !important;
    background-image: linear-gradient(#F1E9D3, #D4CAB1) !important;
    box-shadow: inset 0 0 5px 1px #9E967E !important;
}

.sidr .sidr-inner {
    padding: 0 !important;
}

.sidr h1 {
    background-image: linear-gradient(#F6EDD4, #9E9478) !important;
    text-align: center !important;
    font-size: 14px !important;
}

.sidr ul {
    margin: 0 !important;
    border-top: none !important;
    border-bottom: none !important;
}

.sidr ul li {
    line-height: 40px !important;
    border-bottom: none !important;
    border-top: none !important;
    background: url('../images/divider.jpg') repeat-x left top !important;
}

.sidr ul li:hover > a, .sidr ul li:hover > span, .sidr ul li.active > a, .sidr ul li.active > span, .sidr ul li.sidr-class-active > a, .sidr ul li.sidr-class-active > span {
    box-shadow: inset 0 0 15px 3px #C7BFA8 !important;
}

/*----Общий Дизайн-----*/

div.required label:after {
    content: " *";
    color: red;
}

a:not(.btn), a:hover:not(.btn), a:visited:not(.btn) {
    color: #706443;
}

h1, h2, h3 {
    margin: 0em;
    padding: 0em;
    text-transform: none;
    --font-family: 'Oswald', sans-serif;
    color: #887644;
}

.divider-bottom {
    background: url('../images/divider.jpg') repeat-x left bottom;
}

.divider-top {
    background: url('../images/divider.jpg') repeat-x left top;
}



.btn {
    background-color: #766946;
    border-color: #A3997E;
    border-radius: 5px;
    text-shadow: none;
    text-decoration: none;
    text-transform: none;
    font-size: 0.90em;
    color: #FFFFFF;
    font-size: 14px;
}

.btn-block{
    margin-bottom: 15px;
}

.btn:hover, .btn:focus, .btn:active {
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    background-color: #766946;
    outline: none !important;
}

.btn-fileinput{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}


.container:after, .navbar:after {
    display: none;
}

.breadcrumb {
    background-color: transparent;
    margin-bottom: 0;
}

/*----Элементы формы-----*/
.form-control:active, .form-control:focus {
    border-color: #A3997E;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
}

.has-success .form-control:focus {
    box-shadow: none;
    color: inherit;
    border: 1px solid #ccc;
}

.has-success .form-control {
    box-shadow: none;
    color: inherit;
    border: 1px solid #ccc;
}

.has-success .control-label {
    color: inherit;
}

/* --- Блок Логина и Языков --- */
.dropdown-menu > li > a, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:visited {
    color: #877850;
}

#login .dropdown-menu {
    padding-top: 15px;
    min-width: 205px;
}

#login .dropdown-menu a {
    --font-size: 12px;
    padding: 0px;
}

#login .dropdown-menu .login-divider {
    margin: 0px 0 -7px;
    overflow: hidden;
    border-top: 1px solid #d9dbdd;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    padding: 10px 10px 12px 27px;
}

#login .dropdown-menu .login-divider a {
    --font-size: 14px;
    border-bottom: dashed 1px #877850;
    display: inline;
    padding: 0px;
    text-decoration: none;
}

#lang-picker a {
    padding-left: 0;
    padding-right: 0;
}


#login .dropdown-menu:before {
    position: absolute;
    top: -7px;
    right: 50px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

#login .form-horizontal .form-group {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 0;
}

.language-picker {
    margin-left: 10px;
    margin-right: 10px;
}

/*---Панель меню---*/
#logo > a.hidden-xs {
    font-family: 'Teddy', arial;
    font-size: 36px;
    text-shadow: 4px 4px 4px #aaa;
    color: #212121;
    margin-left: -40px;
    margin-right: 30px;
}

#logo > a.visible-xs {
    font-family: 'Teddy', arial;
    font-size: 32px;
    text-shadow: 4px 4px 4px #aaa;
    color: #212121;
    padding-right: 0;
    padding-left: 0;
}


.wrap-nav {
    margin-right: 0;
    margin-left: 0;
    --margin-top: 10px;
    background: #FFF2CF url('../images/bears/bg_bears.png') repeat;
}
.wrap-nav > .divider-bottom{
    height:50px;
}

.col-nav{
    padding-left: 0;
    padding-right: 0;
}

.navbar-default .navbar-nav > li > a {
    position: relative;
    display: block;
    padding: 10px 35px;
    font-size: 1.25em;
    color: #2C2C2C;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus{
    background: #555555;
    color: #FFFFFF;
    box-shadow: inset 0px -15px 10px 0px rgba(0, 0, 0, 0.25);
    text-shadow: none;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
}

.navbar {
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 0;

}

.navbar-header:before {
    display: none;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}

.navbar-toggle {
    margin: 0;
}


/*---Кабинет----*/

.panel-body{
    padding-bottom: 0px;
}

.panel-default > .panel-heading {
     color: inherit;
    background-color: #f7f4eb;
    border-color: #ddd;
}



.search-form > .panel {
    margin-bottom: 20px;
    background-color: inherit;
    border: 2px solid #bab39f;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.avatar-block,.avatar-block img{
    border-radius: 50px;
    width:160px;
    min-height: 160px;
}

.profile-nav-menu{
    box-shadow: 1px 1px 3px rgba(0,0,0,0.6);
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    --background-color: #F1E8D0;
    background-image: linear-gradient(#F1E9D3, #D4CAB1)
}
.profile-nav-menu > .nav-pills > li > a {
     color: #2C2C2C;
    font-style: normal!important;
 }


.profile-nav-menu a:hover {
    color: #706443!important;
    --font-size:1.1em;
    --font-weight: bold;
}

.profile-nav-menu > .nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    --color: #2C2C2C;
    color: #706443!important;
    --font-weight: bold;
    font-style: italic!important;
    font-size:1.1em;
    background-color: transparent;
}



/* ---------------  Блоки Thumbnails для каталога --------------*/

div.thumbnail.shadow
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.1) inset;

}
div.thumbnail.shadow:before, div.thumbnail.shadow:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
div.thumbnail.shadow:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
}


/*---Блоки в одну строку*/
.container-inline {
    overflow: inherit;
    width: 100%;
}

.box-inline {
    white-space: normal;
}

.box-inline div {
    display: inline-block;
}

/*-----Область контента----*/
#content a:not(.btn), .footer a {
    font-style: italic;
}

#content {
    padding-bottom: 10px;
    font-size: 1.2em;
}

.file-preview-frame{
    float:none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}
.file-preview {
    margin-bottom: 0;
    padding-bottom: 0;
}


/*-----Модальное окно FileApi----*/
.popup__body {
    margin: 10px 10px 5px;
}
.popup {
    margin: 25px;
    float: left;
    display: inline-block;
    box-shadow: 0 0 5px #000;
    background-color: #fff;
}
.themodal-overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100000;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

/*------ Постраничная разбивка ---------*/

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #d7cdb4;
    border-color: #d7cdb4;
}