/* --- Красивый футер --- */
html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}


/* --- Всплывающее окно ЛОГИНА --- */
#login .dropdown-menu {
    padding-top: 15px;
}

#login .dropdown-menu a {
    font-size: 12px;
    padding: 0px;
    color: #2c7da9;
    font-size: 12px;
}

#login .dropdown-menu .login-divider {
    margin: 0px 0 -7px;
    overflow: hidden;
    background-color: #eff0ef;
    border-top: 1px solid #d9dbdd;
    border-bottom: 1px solid #8a9099;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    padding: 10px 10px 12px 27px;
}

#login .dropdown-menu .login-divider a {
    font-size: 14px;
    color: #2c7da9;
    border-bottom: dashed 1px #2c7da9;
    display: inline;
    padding: 0px;
    text-decoration: none;
}

#login .dropdown-menu:before {
    position: absolute;
    top: -7px;
    right: 11px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

#login .form-horizontal .form-group {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 0;
}

