@font-face {
    font-family: Teddy;
    src: url('../fonts/teddy-bear.ttf');
}

/* --- Красивый футер --- */
html,
body {
    height: 100%;
    background: #FFF2CF url('../images/bg1.png') repeat;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 10pt;
    color: #877850;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 20px 15px 20px;
}

.footer {
    height: 60px;
    background-color: transparent;
    padding-top: 20px;
    font-size: 1.2em;
}

/*--- Боковое всплывающее меню ---*/
#sidr-toggle {
    position: fixed;
    top: 75px;
}

.sidr {
    top: 110px !important;
    height: 275px !important;
    width: 180px !important;
    background-image: linear-gradient(#F1E9D3, #D4CAB1) !important;
    box-shadow: inset 0 0 5px 1px #9E967E !important;
}

.sidr .sidr-inner {
    padding: 0 !important;
}

.sidr h1 {
    background-image: linear-gradient(#F6EDD4, #9E9478) !important;
    text-align: center !important;
    font-size: 14px !important;
}

.sidr ul {
    margin: 0 !important;
    border-top: none !important;
    border-bottom: none !important;
}

.sidr ul li {
    line-height: 40px !important;
    border-bottom: none !important;
    border-top: none !important;
    background: url('../images/divider.jpg') repeat-x left top !important;
}


.sidr ul li:hover > a, .sidr ul li:hover > span, .sidr ul li.active > a, .sidr ul li.active > span, .sidr ul li.sidr-class-active > a, .sidr ul li.sidr-class-active > span {
    box-shadow: inset 0 0 15px 3px #C7BFA8!important;
}

/*----Общий Дизайн-----*/
a, a:hover, a:visited {
    color: #706443;
}

h1, h2, h3 {
    margin: 0em;
    padding: 0em;
    text-transform: none;
    --font-family: 'Oswald', sans-serif;
    color: #887644;
}

.divider-bottom {
    background: url('../images/divider.jpg') repeat-x left bottom;
}

.divider-top {
    background: url('../images/divider.jpg') repeat-x left top;
}

.btn, .btn:hover, .btn:active, .btn:focus {
    background: #766946;
    border-color: #766946;
    border-radius: 5px;
    text-shadow: none;
    text-decoration: none;
    text-transform: none;
    font-size: 0.90em;
    color: #FFFFFF;
}

.container:after, .navbar:after {
    display: none;
}

/* --- Блок Логина и Языков --- */

.dropdown-menu > li > a, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:visited {
    color: #877850;
}

#login .dropdown-menu {
    padding-top: 15px;
    min-width: 205px;

}

#login .dropdown-menu a {
    font-size: 12px;
    padding: 0px;
}

#login .dropdown-menu .login-divider {
    margin: 0px 0 -7px;
    overflow: hidden;
    border-top: 1px solid #d9dbdd;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    padding: 10px 10px 12px 27px;
}

#login .dropdown-menu .login-divider a {
    font-size: 14px;
    border-bottom: dashed 1px #877850;
    display: inline;
    padding: 0px;
    text-decoration: none;
}

#login .dropdown-menu:before {
    position: absolute;
    top: -7px;
    right: 11px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

#login .form-horizontal .form-group {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 0;
}

.language-picker{
    margin-left: 10px;
    margin-right: 10px;
}

/*---Панель меню---*/
#logo > a {
    font-family: 'Teddy', arial;
    font-size: 36px;
    text-shadow: 4px 4px 4px #aaa;
    color: #212121;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 35px;
    font-size: 1.25em;
    color: #2C2C2C;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background: #212121;
    color: #FFFFFF;
    box-shadow: inset 0px -15px 10px 0px rgba(0, 0, 0, 0.25);
    text-shadow: none;
}

.navbar {
    background-color: transparent;
    border-color: transparent;
}

.navbar-header:before {
    display: none;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}

.navbar-toggle {
    margin: 0;
}

/*---Блоки в одну строку*/
.container-inline {
    overflow: inherit;
    width: 100%;
}

.box-inline {
    white-space: normal;
}

.box-inline div {
    display: inline-block;
}

/*-----Область контента----*/
#content a, .footer a {
    font-style: italic;
}

#content {
    font-size: 1.2em;
}








