# phpstorm project files
/.idea

# windows thumbnail cache
Thumbs.db



# composer vendor dir
/project/vendor

# composer itself is not needed
/project/composer.phar


/project/config/db.php
/project/config/params.php
